<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.villalta_luis">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.villalta_luis">
        <activity android:name="com.example.villalta_luis.ActivityVollyAlumno"></activity>
        <activity android:name="com.example.villalta_luis.ActivityBDDocente" />
        <activity android:name="com.example.villalta_luis.ActividadMemoriaSD" />
        <activity android:name="com.example.villalta_luis.ActivityMemoriaPrograma" />
        <activity
            android:name="com.example.villalta_luis.ActividadMemoriaInterna"
            android:label="@string/title_activity_actividad_memoria_interna"
            android:theme="@style/Theme.villalta_luis.NoActionBar" />
        <activity
            android:name="com.example.villalta_luis.Activity_Principal"
            android:label="@string/title_activity__principal"
            android:theme="@style/Theme.villalta_luis.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.villalta_luis.ui.login.ActivityLogin"
            android:label="@string/title_activity_login" />
        <activity android:name="com.example.villalta_luis.ActividadFragmentos" />
        <activity android:name="com.example.villalta_luis.ActivityNombres" />
        <activity android:name="com.example.villalta_luis.MainActivity" />
    </application>

</manifest>